<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAclFcM-NZOPPh5RjgwY1mkDx3cx0cp87Q</string>
	<key>GCM_SENDER_ID</key>
	<string>570307881126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensetracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-f80cc</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-f80cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570307881126:ios:941c415cb801762bc66c67</string>
</dict>
</plist>